{% extends 'FAQ/base-faq.html.twig' %}
{% block title %}Perfil {{perfil}}{% endblock %}
{% block stylesheets %}
{{ parent() }}
        <!-- Estilos concretos para los grupos de preguntas frecuentes (sabor y layout) -->
        <link href=" {{ asset('Resources/FAQ/css/faq/faq-sb.css') }}" rel="stylesheet" />
        <link href=" {{ asset('Resources/FAQ/css/faq/faq-ly.css') }}" rel="stylesheet" />
{% endblock %}
{% block breadcrumb %}
    <a href="{{ path('guias_docentes_app_homepage') }}"> Inicio </a>>>
    Perfil {{perfil}}
{% endblock %}
{% block content_title %}
	<h2 class="title cuadro" title="Aplicación de guías docentes UJA">Perfil {{perfil}}</h2>
{% endblock %}
{% block content %}
{# Dos o menos grupos implica que al menos uno de estos sera el grupo especial de soporte, por lo #}
{# que realmente al no existir más de un grupo de pf este aparecerá desplegado sin agruparlo en el grupo correspondiente#}
    {%if grupos | length == 0 %}
        <div class="alert alert-warning alert-icon">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <div class="icon"><i class="icon ion-ios7-information-empty"></i></div>
            No existen grupos para el perfil indicado.
        </div>
    {% elseif grupos |length >= 2 %} 
        <dl class="listaPfByGroup">
            {#Grupos#}
            
            {% for grupo in grupos %}
                <dt class="grupo">
                    {{grupo.getNombre() | raw }}
                </dt>
                {% for key in PF|keys %}
                    {% if key == grupo.getId() %}
                        <dd class="pfgrupo">
                            <dl class="listaPfSG">
                                {% for p in PF[key] %}
                                    <dt class="pregunta">
                                        {{ p.getPregunta() | raw }}
                                    </dt>
                                    <dd class="respuesta">
                                        {{ p.getRespuesta() | raw }}
                                    </dd>
                                {% endfor %}
                            </dl>
                        </dd>
                    {%endif%}
                {% endfor %}
            {% endfor %}
            
            {#Grupos Soporte#}
            {% for gs in grupos_soporte %}
                <dt class="grupo">
                    {{gs.getNombre() | raw }}
                </dt>
                <dd class="pfgrupo">
                    <dl class="listaPfSG">
                            <dt class="pregunta">
                                {{ gs.getPregunta() | raw }}
                            </dt>
                            <dd class="respuesta">
                                {{ gs.getRespuesta() | raw }}
                            </dd>
                    </dl>
                </dd>
            {% endfor %}
        </dl>
    {% else %}
        <dl class="listaPfSG">
            {#Grupos#}
            {% for grupo in grupos %}
                {% for key in PF|keys %}
                    {% if key == grupo.getId() %}
    
                            {% for p in PF[key] %} 
                                <dt class="pregunta">
                                    {{ p.getPregunta() | raw }}
                                </dt>
                                <dd class="respuesta">
                                    {{ p.getRespuesta() | raw }}
                                </dd>
                            {% endfor %}
    
                    {%endif%}
                {% endfor %}
            {% endfor %}
            {#Grupo soporte#}
            {% for gs in grupos_soporte %}
                <dt class="pregunta">
                    {{ gs.getPregunta() | raw }}
                </dt>
                <dd class="respuesta">
                    {{ gs.getRespuesta() | raw }}
                </dd>
            {% endfor %}
        </dl>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src=" {{ asset('Resources/FAQ/js/gfaq.js') }}"></script>
{% endblock %}