{% extends 'FAQ/base-faq.html.twig' %}
{% block title %}Formulario Consultas/Incidencias{% endblock %}
{% block stylesheets %}
{{ parent() }}
        <!-- Estilos concretos para el formulario de contacto (sabor y layout) -->
        <link href=" {{ asset('Resources/bootstrap/assets/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />
        <link href=" {{ asset('Resources/FAQ/css/contacto/contacto-sb.css') }}" rel="stylesheet" />
        <link href=" {{ asset('Resources/FAQ/css/contacto/contacto-ly.css') }}" rel="stylesheet" />
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}
{% block breadcrumb %}
    Inicio >>
{% endblock %}
{% block content_title %}
	<h2 class="title" title="Aplicación de guías docentes UJA">Historial de consultas de: {{hilo.getPersonalEmail.getNombre}} {{hilo.getPersonalEmail.apellidos}}</h2>
{% endblock %}
{% block content %}
{#Vista de historico para personal de soporte#}
{% if role == 'soporte' %}
    <div class="historico-content">
        <div class="cuadro">
        <div class="cuadro_titulo">Detalle del consultante:</div>
            <div class="datos-consultante">
                <div class="nombre">
                    <span class="title">Nombre:</span> {{hilo.getConsultanteemail.getNombre}}
                </div>
                <div class="apellidos">
                    <span class="title">Apellidos:</span> {{hilo.getConsultanteemail.getApellidos}}
                </div>
                <div>
                    <span class="title">Email:</span> {{hilo.getConsultanteemail.getEmail}}
                </div>
            </div>
        </div>
        <div class="cuadro">
            <div class="cuadro_titulo">Histórico de consultas/respuestas</div>
            {#{% for consulta in hilo.getConsultas %}#}
            {% for consulta in hilo.getConsultasOrderedByDate %}
                <div class="datos-consulta">
                    <dl class="grupo-consulta">
                        {% if consulta.getVisto == 1 %}
                        <a title ="Marcar como no visto" class="setVisibility" href="{{ path('guias_docentes_app_historico_soporte_set_visto', {'slug': slug, 'token': token,  'consulta_id': consulta.getId}) }}">
                            <span class="glyphicon glyphicon-eye-close"></span></a>
                        {% else %}
                            <a title ="Marcar como visto" class="setVisibility" href="{{ path('guias_docentes_app_historico_soporte_set_visto', {'slug': slug, 'token': token,  'consulta_id': consulta.getId}) }}">
                            <span class="glyphicon glyphicon-eye-open"></span></a>
                        {% endif %}
                        <dt class="pregunta visto-{{consulta.getVisto}}">
                            ({{consulta.getFecha|date("d/m/Y")}}) {{consulta.getTexto}}
                        </dt> 
                        {% for respuesta in consulta.getRespuestas %}
                            <dd class="respuesta"><span class="fecha-respuesta">({{respuesta.getFecha|date("d/m/Y")}}):</span> {{respuesta.getTexto}}</dd>
                        {% endfor %}
                        <span id="nueva-respuesta" class="respuesta">Añadir respuesta:</span>
                		<form class="respuesta" method="post" name= "envio" action="{{ path('guias_docentes_app_historico_soporte_add_respuesta', { 'slug': slug, 'token': token, 'role': role }) }}">
                	    	<textarea name="respuesta"  class="form-control form-historico-respuesta" placeholder="Introduzca aquí el texto correspondiente a su respuesta."></textarea>
                	   	    <input type="hidden" name="id_consulta" value= "{{consulta.getId}}">
                	   	    <input type="hidden" name="role" value= "{{role}}">
                		    <button type="submit" class="btn-success" name="envio">Enviar</button>
                		</form>
                    </dl>
                </div>
            {% endfor %}
        </div>
    </div>
{% else %}
{#Vista de historico para consultante#}
    <div class="historico-content">
        <div class="cuadro">
            <div class="cuadro_titulo">Histórico de consultas/respuestas</div>
                {% for consulta in hilo.getConsultas %}
                    <div class="datos-consulta">
                        <dl class="grupo-consulta">
                            <dt class="pregunta">
                                {{consulta.getFecha|date("d/m/Y")}}: {{consulta.getTexto}}
                            </dt> 
                            {% for respuesta in consulta.getRespuestas %}
                                <dd class="respuesta"><span class="fecha-respuesta">({{respuesta.getFecha|date("d/m/Y")}}):</span> {{respuesta.getTexto}}</dd>
                            {% endfor %}
                            <span id="nueva-consulta" class="respuesta">Nueva consulta:</span>
                    		<form class="respuesta" method="post" name= "envio" action="{{ path('guias_docentes_app_historico_soporte_add_consulta', { 'slug': slug, 'token': token}) }}">
                    	    	<textarea name="consulta" class="form-control form-historico-consulta" placeholder="Introduzca aquí el texto correspondiente a su consulta."></textarea>
                    	   	    <input type="hidden" name="id_consulta" value= "{{consulta.getId}}">
                    	        <input type="hidden" name="role" value= "{{role}}">
                    		    <button type="submit" class="btn-success" name="envio">Enviar</button>
                    		</form>
                	   </dl>
            		</div>
                {% endfor %}
            </div>
        </div>
{% endif %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src=" {{ asset('Resources/FAQ/js/historico.js') }}"></script>
{% endblock %}