{% extends 'FAQ/base-faq.html.twig' %}
{% block title %}APLICACIÓN DE GUÍAS DOCENTES UJA - Dudas e Incidencias{% endblock %}
{% block content %}
      <div id="content" role="main">
        <div id="content-header" >
			<h2 class="title" title="Aplicación de guías docentes UJA">APLICACIÓN DE GUÍAS DOCENTES UJA - Dudas e Incidencias</h2>
        </div>

        <div class="cuadro" id="manuales">
          <h3 class="cuadro_titulo"><img  src="{{asset('Resources/FAQ/img/book.png')}}" >Manuales</h3>
          {#<hr class="line-section" />#}
			<div id="listas">
            <ul>
            	<li type="animation:alternate" ><img  src="{{asset('Resources/FAQ/img/pdf.gif')}}" ><a href="{{ asset('Resources/FAQ/doc/guias/GuiaHerramientaGuiasDocentes - Profesor.pdf') }}" target="_blank">Para profesores responsables de asignatura </a></li>
                <li type="animation:alternate" ><img  src="{{asset('Resources/FAQ/img/pdf.gif')}}" ><a href="{{ asset('Resources/FAQ/doc/guias/Guia Herramienta Guias Docentes - Dir Departamento.pdf') }}" target="_blank">Para directores de departamento</a> </li>
                <li type="animation:alternate" ><img  src="{{asset('Resources/FAQ/img/pdf.gif')}}" ><a href="{{ asset('Resources/FAQ/doc/guias/Guia Herramienta Guias Docentes - Direccion Centro.pdf') }}" target="_blank">Para decanos/directores de Facultades/Escuelas</a></li>
            </ul>
           	</div>
		</div>
	<div class="cuadro" id="faqs">
      <h3 class="cuadro_titulo"><img  src="{{asset('Resources/FAQ/img/faq.png')}}" >Preguntas Frecuentes (FAQ)</h3>
      {#<hr class="line-section" />#}
            <div class="perfiles-content">
                <p id="choose-profile">Elija su perfil:</p>
                <form id="perfiles-form" method="POST" action="gfaq.php">
    
                    <select id="perfiles" name="perfil" class="down">
                        {% for perfil in perfiles %} 
    
                        <option id="{{perfil.getOrden()}}" value="{{perfil.getNombre()}}">{{perfil.getNombre()}}</option>
                        {% endfor %}
                    </select>
                     <input type="submit" value="Enviar" >
                </form>
            </div>
      </div>
{% endblock %}
{% block javascripts %}
    {{ parent () }}
    {#Custom index.js#}
    <script src=" {{ asset('Resources/FAQ/js/index.js') }}"></script>
{% endblock %}
