{% extends 'FAQ/base-faq.html.twig' %}
{% block title %}APLICACIÓN DE GUÍAS DOCENTES UJA - Dudas e Incidencias{% endblock %}
{% block stylesheets %}
{{ parent() }}
        <!-- Estilos generales FAQ (sabor y layout) -->
        <link href=" {{ asset('Resources/FAQ/css/index/index-sb.css') }}" rel="stylesheet" />
        <link href=" {{ asset('Resources/FAQ/css/index/index-ly.css') }}" rel="stylesheet" />
{% endblock %}
{% block breadcrumb %}
    Inicio >>
{% endblock %}
{% block content_title %}
	<h2 class="title" title="Aplicación de guías docentes UJA">APLICACIÓN DE GUÍAS DOCENTES UJA - Dudas e Incidencias</h2>
{% endblock %}
{% block content %}
        <div class="cuadro" id="manuales">
          <h3 class="cuadro_titulo"><img  src="{{asset('Resources/FAQ/img/book.png')}}" alt="Manuales">Manuales</h3>
          {#<hr class="line-section" />#}
			<div id="listas">
            <ul>
            	<li><img  src="{{asset('Resources/FAQ/img/pdf.gif')}}" alt="PDF" ><a href="{{ asset('Resources/FAQ/doc/guias/GuiaHerramientaGuiasDocentes-Profesor.pdf') }}" target="_blank">Para profesores responsables de asignatura </a></li>
                <li><img  src="{{asset('Resources/FAQ/img/pdf.gif')}}" alt="PDF" ><a href="{{ asset('Resources/FAQ/doc/guias/GuiaHerramientaGuiasDocentes-Dir_Departamento.pdf') }}" target="_blank">Para directores de departamento</a> </li>
                <li><img  src="{{asset('Resources/FAQ/img/pdf.gif')}}" alt="PDF" ><a href="{{ asset('Resources/FAQ/doc/guias/GuiaHerramientaGuiasDocentes-Direccion_Centro.pdf') }}" target="_blank">Para decanos/directores de Facultades/Escuelas</a></li>
            </ul>
           	</div>
		</div>
	<div class="cuadro" id="faqs">
      <h3 class="cuadro_titulo"><img  src="{{asset('Resources/FAQ/img/faq.png')}}" alt="Preguntas Frecuentes">Preguntas Frecuentes (FAQ)</h3>
      {#<hr class="line-section" />#}
            <div class="perfiles-content">
                <p id="choose-profile">Elija su perfil:</p>
                <form id="perfiles-form" method="POST" action="{{ path('guias_docentes_app_gfaq') }}">
    
                    <select id="perfiles" name="perfil" class="down">
                        {% for perfil in perfiles %} 
    
                        <option id="{{perfil.getOrden()}}" value="{{perfil.getNombre()}}">{{perfil.getNombre()}}</option>
                        {% endfor %}
                    </select>
                     <input type="submit" value="Enviar" >
                </form>
            </div>
      </div>
{% endblock %}
