{% extends 'AdminPanel/base-side-left-header-admin-panel.html.twig' %}
    {% block breadcrumb %}
        <ol class="breadcrumb bg-none pull-left hide-xs">
            <li><a href="{{ path ('guias_docentes_app_admin_panel_index') }}">Home</a></li>
            <li class="active">Limpiar Registros de Consulta</li>
        </ol>
    {% endblock %}
{% block content_body %}

<div class="magic-layout">
    <div class="box magic-element width-full">
        <h2 class="box-heading">
            Limpiar Registro Consultas
        </h2>
        <form class="form-horizontal" role="form" method="POST" action="{{ path('guias_docentes_app_admin_panel_clean')}}">
            <fieldset>
                <div class="form-group">
                <label class="col-sm-2 control-label" for="select">Perfiles</label>
                    <div class="col-sm-10">
                        <select class="select2" name="personal" style="width:100%">
                            {% for personal in personales %}
                                <option value="{{personal.getEmail}}">{{personal.getApellidos}}, {{personal.getNombre}}</option>
                            {%endfor%}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Limpiar Registros</button>
                    </div>
                </div><!-- /form-group -->
            </fieldset><!-- /fieldset -->
        </form><!-- /form -->
        {%if ok != null %}
            {%if ok==true %}
                <div id="success-recover" class="alert alert-success">
                    <a href="#"  class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>¡Hecho!</strong> Registro de consultas limpio
                 </div>
            {% else %}
                <div id="success-recover" class="alert alert-danger">
                    <a href="#"  class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>¡Error!</strong> No se ha podido realizar la acción, pongase en contacto con el administrador de la aplicación.
                </div>
            {% endif %}
        {%endif%}
    </div><!-- /box -->
</div>

{% endblock %}
{% block javascripts %}
    {{ parent()}}
    <script src='{{ asset('Resources/AdminPanel/js/clean.js') }}'></script>
{% endblock %}