{% extends 'AdminPanel/base-side-left-header-admin-panel.html.twig' %}
    {% block breadcrumb %}
        <ol class="breadcrumb bg-none pull-left hide-xs">
            <li><a href="{{ path ('guias_docentes_app_admin_panel_index') }}">Home</a></li>
            <li class="active">Añadir Temática de Soporte</li>
        </ol>
    {% endblock %}
{% block content_body %}

<div class="magic-layout">
    <div class="box magic-element width-full">
        <h2 class="box-heading">
            Nueva Temática de Soporte
        </h2>
        <form class="form-horizontal" role="form" method="POST" action="{{ path('guias_docentes_app_admin_panel_create_tematica_soporte')}}">
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="input">Enunciado Temática de soporte</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" required="required" id="input" name="enunciado" placeholder="Nombre de grupo soporte" >
                    </div>
                </div><!-- /form-group -->
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="input">Orden</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" required="required" name="orden" id="input" placeholder="Orden" >
                    </div>
                </div><!-- /form-group -->
                <div class="form-group">
                <label class="col-sm-2 control-label" for="select">Personal</label>
                    <div class="col-sm-10">
                        <select class="select2" name="personal" style="width:100%" required>
                            {% for personal in personales %}
                                <option value="{{personal.getEmail}}">{{personal.getApellidos}}, {{personal.getNombre}}</option>
                            {%endfor%}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="reset" class="btn btn-default">Reiniciar</button>
                        <button type="submit" class="btn btn-primary">Añadir</button>
                    </div>
                </div><!-- /form-group -->
            </fieldset><!-- /fieldset -->
        </form><!-- /form -->
        {%if ok != 0 %}
            {%if ok==1 %}
                <div id="success-create-tematica-soporte" class="alert alert-success">
                    <a href="#"  class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>¡Hecho!</strong> Nueva Temática de Soporte creada.
                 </div>
            {% else %}
                <div id="fail-create-tematica-soporte" class="alert alert-danger">
                    <a href="#"  class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>¡Error!</strong> No se ha podido realizar la acción, por favor pongase en contacto con el administrador de la aplicación.
                </div>
            {% endif %}
        {% endif %}
    </div><!-- /box -->
</div>

{% endblock %}
{% block javascripts %}
{{ parent() }}
    <script src='{{ asset('Resources/AdminPanel/js/addTemaSop.js') }}'></script>
{% endblock %}