{% extends 'AdminPanel/base-side-left-header-admin-panel.html.twig' %}
    {% block breadcrumb %}
        <ol class="breadcrumb bg-none pull-left hide-xs">
            <li><a href="{{ path ('guias_docentes_app_admin_panel_index') }}">Home</a></li>
            <li class="active">Añadir Grupo de Soporte</li>
        </ol>
    {% endblock %}
{% block content_body %}

<div class="magic-layout">
    <div class="box magic-element width-full">
        <h2 class="box-heading">
            Nuevo Grupo Soporte
        </h2>
        <form class="form-horizontal" role="form" method="POST" action="{{ path('guias_docentes_app_admin_panel_create_support_group')}}">
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="input">Nombre de Grupo Soporte</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" required="required" id="input" name="nombre" placeholder="Nombre de grupo soporte" >
                    </div>
                </div><!-- /form-group -->
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="input">Pregunta</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" required="required" name="pregunta" id="input" placeholder="Pregunta" >
                    </div>
                </div><!-- /form-group -->
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="input">Respuesta</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" required="required" name="respuesta" id="input" placeholder="Respuesta" >
                    </div>
                </div><!-- /form-group -->
                <div class="form-group">
                    <label class="col-sm-2 control-label">Habilitada</label>
                    <div class="col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="habilitada" checked> 
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                <label class="col-sm-2 control-label" for="select">Perfiles</label>
                    <div class="col-sm-10">
                        <select class="select2" name="perfil" style="width:100%">
                            {% for perfil in perfiles %}
                                <option value="{{perfil.getNombre}}">{{perfil.getNombre}}</option>
                            {%endfor%}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="reset" class="btn btn-default">Reiniciar</button>
                        <button type="submit" class="btn btn-primary">Añadir</button>
                    </div>
                </div><!-- /form-group -->
            </fieldset><!-- /fieldset -->
        </form><!-- /form -->
    </div><!-- /box -->
</div>

{% endblock %}
{% block javascripts %}
{{ parent() }}
    <script src='{{ asset('Resources/AdminPanel/js/addGrupoSop.js') }}'></script>
{% endblock %}