{% extends 'AdminPanel/base-side-left-header-admin-panel.html.twig' %}
    {% block breadcrumb %}
        <ol class="breadcrumb bg-none pull-left hide-xs">
            <li><a href="{{ path ('guias_docentes_app_admin_panel_index') }}">Home</a></li>
            <li class="active">Añadir Pregunta Frecuente</li>
        </ol>
    {% endblock %}
{% block content_body %}

<div class="magic-layout">
    <div class="box magic-element width-full">
        <h2 class="box-heading">
            Nueva Pregunta Frecuente
        </h2>
        <form class="form-horizontal" role="form" method="POST" action="{{ path('guias_docentes_app_admin_panel_create_pf')}}">
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="input">Pregunta</label>
                    <div class="col-sm-10">
                        <input type="textarea" class="form-control" required="required" id="input" name="pregunta" placeholder="Pregunta" >
                    </div>
                </div><!-- /form-group -->
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="input">Respuesta</label>
                    <div class="col-sm-10">
                        <input type="textarea" class="form-control" required="required" name="respuesta" id="input" placeholder="Respuesta" >
                    </div>
                </div><!-- /form-group -->
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="input">Orden</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" required="required" name="orden" id="input" placeholder="Orden" >
                    </div>
                </div><!-- /form-group -->
                
                <div class="form-group">
                    <label class="col-sm-2 control-label">Habilitada</label>
                    <div class="col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="habilitada" checked> 
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                <label class="col-sm-2 control-label" for="select">Grupos</label>
                    <div class="col-sm-10">
                        <select class="select2" name="grupo" style="width:100%">
                            {% for key,perfil in perfiles_grupos %}
                            <optgroup label="{{key}}">
                                {%for key,p in perfil %}
                                    <option value="{{key}}">{{p}}</option>
                                {%endfor%}
                            </optgroup>
                            {%endfor%}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="reset" class="btn btn-default">Reiniciar</button>
                        <button type="submit" class="btn btn-primary">Añadir</button>
                    </div>
                </div><!-- /form-group -->
                
            </fieldset><!-- /fieldset -->
        </form><!-- /form -->
        {%if ok != 0 %}
            {%if ok==1 %}
                <div id="success-create-pf" class="alert alert-success">
                    <a href="#"  class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>¡Hecho!</strong> Pregunta frecuente creada con éxito.
                 </div>
            {% else %}
                <div id="fail-create-pf" class="alert alert-danger">
                    <a href="#"  class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>¡Error!</strong> No se ha podido realizar la acción, por favor pongase en contacto con el administrador de la aplicación.
                </div>
            {% endif %}
        {% endif %}
    </div><!-- /box -->
</div>

{% endblock %}
{% block javascripts %}
{{ parent() }}
    <script src='{{ asset('Resources/AdminPanel/js/addPF.js') }}'></script>
    <script src={{ asset("Resources/bootstrap/assets//select2/select2.min.js")}}></script>
{% endblock %}