{% extends 'AdminPanel/base-side-left-header-admin-panel.html.twig' %}

{% block content_body %}         
    <div class="magic-layout" data-cols="2">
        <div class="panel panel-default magic-element">
            <a href="#" class="panel-body-heading full-line">
                <div class="pb-object pb-object-circle">
                    <i class="pbo-icon icon ion-ios7-plus-empty"></i>
                </div><!-- /pb-object -->
                <h3 class="pb-title ">
                    <span class="text-info">{{num_consultantes}}</span> <small>Consultantes</small>
                </h3><!-- /pb-title -->
                <span class="pb-watermark">
                    <i class="icon ion-ios7-personadd-outline"></i>
                </span><!-- /pb-watermark -->
            </a><!-- /panel-body-heading -->
        </div><!-- /panel -->
    
        <div class="panel panel-default magic-element">
            <a href="#" class="panel-body-heading full-line">
                <div class="pb-object pb-object-circle">
                    <i class="pbo-icon icon ion-arrow-graph-up-right"></i>
                </div><!-- /pb-object -->
                <h3 class="pb-title ">
                    <span class="text-success">{{num_consultas}}</span> <small>Consultas</small>
                </h3><!-- /pb-title -->
                <span class="pb-watermark">
                    <i class="icon ion-ios7-star-outline"></i>
                </span><!-- /pb-watermark -->
            </a><!-- /panel-body-heading -->
        </div><!-- /panel -->
    
    </div><!-- /magic-layout -->
    
    
    
    
    <div class="magic-layout">
        <div class="panel panel-default magic-element">
            <div class="panel-body-heading">
                <h3 class="pb-title">
                    Details Revenue
                </h3><!-- /pb-title -->
            </div><!-- /panel-body-heading -->
            <div class="kits-chart">
                <div id="revenue-chart" class="chart"></div>
            </div><!-- /kits-chart -->
            <div class="panel-body">
                <div class="text-center">
                    <button type="button" class="btn btn-ion btn-sm btn-primary" id="año">2016</button>
                </div>
            </div><!-- /panel-body -->
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="pull-right">
                        <i class="icon ion-arrow-up-b text-success"></i> 236 &nbsp;&nbsp;
                        <span class="text-success">+</span> 11%
                    </div>
                    <div>MO <small class="text-muted">OCT W5</small></div>
                </li>
                <li class="list-group-item">
                    <div class="pull-right">
                        <i class="icon ion-arrow-down-b text-danger"></i> 137 &nbsp;&nbsp;
                        <span class="text-danger">-</span> 32%
                    </div>
                    <div>TU <small class="text-muted">OCT W5</small></div>
                </li>
                <li class="list-group-item">
                    <div class="pull-right">
                        <i class="icon ion-arrow-up-b text-success"></i> 275 &nbsp;&nbsp;
                        <span class="text-success">+</span> 18%
                    </div>
                    <div>WE <small class="text-muted">NOV W1</small></div>
                </li>
                <li class="list-group-item">
                    <div class="pull-right">
                        <i class="icon ion-arrow-up-b text-success"></i> 380 &nbsp;&nbsp;
                        <span class="text-success">+</span> 40%
                    </div>
                    <div>TH <small class="text-muted">NOV W1</small></div>
                </li>
                <li class="list-group-item">
                    <div class="pull-right">
                        <i class="icon ion-arrow-up-b text-success"></i> 655 &nbsp;&nbsp;
                        <span class="text-success">+</span> 88%
                    </div>
                    <div>FR <small class="text-muted">NOV W1</small></div>
                </li>
                <li class="list-group-item">
                    <div class="pull-right">
                        <i class="icon ion-arrow-down-b text-danger"></i> 571 &nbsp;&nbsp;
                        <span class="text-danger">-</span> 12%
                    </div>
                    <div>SA <small class="text-muted">NOV W1</small></div>
                </li>
            </ul><!-- /list-group -->
        </div><!-- /panel -->
    
        <div class="panel panel-default magic-element">
            <form role="form" method="POST" action="{{ path('guias_docentes_app_admin_panel_mailer_action')}}">
            <div class="panel-body">
                <div class="panel-body-heading">
                    <h3 class="pb-title">Correo Miembros soporte:</h3>
                </div>
                <div class="form-group">
                    <label class="control-label" for="quick-mail-reseiver">a</label>
                    <input id="quick-mail-reseiver" name="destinatarios" type="text" class="tags" value="{{personal}}" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="quick-mail-subject">Subject</label>
                    <input id="quick-mail-subject" name="subject" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <textarea id="quick-mail-content" name="texto" class="form-control" style="width:100%" rows="10" placeholder="Introduzca el texto ..."></textarea>
                </div><!-- /form-group -->
            </div>
            <div class="panel-footer clearfix">
                <div class="pull-right">
                    <input type="reset" class="btn btn-default" value="Cancelar" />
                    <input type="submit" class="btn btn-primary" value="Enviar" />
                </div>
            </div>
            </form><!-- /form -->
        </div><!-- /panel quick-mail -->
    
            </div><!-- /magic-layout #2 -->
    
    
    </div><!-- /app body -->
    </div><!-- /content app -->
    
    </section><!-- /content main -->
    
    
    
    <!-- define your extra apps here -->
    <!-- (recomended: dont change the id value) -->
    <section id="content-aside" class="content-aside">
    <!-- your module content -->
    <div class="content-module fixed-header">
    <!-- module header -->
    <div class="module-header">
    <h3 class="module-title">
        <i class="icon ion-ios7-chatboxes-outline"></i> Chats
    </h3>
    </div><!-- /module header -->
    
    <!-- module body -->
    <div class="module-body">
    
    <!-- app module here -->
    <!-- chat module -->
    <div class="chats-module">
        <div class="cm-contact">
            <div class="cm-contact-separate">Top contacts</div>
            <a href="#" class="cm-contact-item">
                <div class="cmci-avatar">
                    <img src="{{ asset('Resources/bootstrap/assets/app/img/avatar8.png') }}" alt="">
                </div>
                <p class="cmci-name">Ejemplo 1 <small>Administración</small></p>
            </a>
            <a href="#" class="cm-contact-item">
                <div class="cmci-avatar">
                    <img src="{{ asset('Resources/bootstrap/assets/app/img/avatar1.png') }}" alt="">
                </div>
                <p class="cmci-name">Ejemplo 2 <small>Informática</small></p>
            </a>
            <a href="#" class="cm-contact-item">
                <div class="cmci-avatar">
                    <img src="{{ asset('Resources/bootstrap/assets/app/img/avatar9.png') }}" alt="">
                </div>
                <p class="cmci-name">Ejemplo 3 <small>General</small></p>
            </a>
    
            
        </div><!-- /chat module content -->
    </div><!-- /chat module -->
                            

{% endblock %}
{% block javascripts %}
{{ parent() }}
        <!-- Custom script index.js -->
        <script src=" {{ asset('Resources/AdminPanel/js/json.js') }}"></script>
        <script src=" {{ asset('Resources/AdminPanel/js/index.js') }}"></script>
{% endblock %}