{% extends 'AdminPanel/base-admin-panel.html.twig' %}
{% block title %}Login{% endblock %}
{% block stylesheets %}
{{ parent() }}
    <link href=" {{ asset('Resources/bootstrap/assets/jquery-icheck/skins/flat/_all.css') }}" rel="stylesheet" />
    <link href=" {{ asset('Resources/AdminPanel/css/Login/login-ly.css') }}" rel="stylesheet" />
    <link href=" {{ asset('Resources/AdminPanel/css/Login/login-sb.css') }}" rel="stylesheet" />
    <style>
    body{
        overflow: hidden; /* just for Sign page */
        background-color: #000;
    }
    </style>
{% endblock %}
{% block body %}
    <!-- content wrapper to define fullpage or container -->
    <!-- (recomended: dont change the id value) -->
    <section id="wrapper" class="container">
        <section id="signin" class="sign-wrapper signin transition-layout">
            <div class="row">
                <div class="col-md-offset-4 col-sm-offset-0 col-xs-offset-0 col-md-4 col-sm-12 col-xs-12">
                    <div class="sign-brand">
                        <div class="sign-brand-logo">
                            <img src="{{ asset('Resources/AdminPanel/img/index_logo.gif') }}" alt="Ujaen"/>
                        </div>
                        <h1 class="sign-brand-name">Panel de Administración - Soporte Guías Docentes</h1>
                    </div><!-- /sign-brand -->
                    {% if error %}
                        {#<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>#}
                        <div>{{ error.message }}</div>
                    {% endif %}
                    <div class="sign-container">
                        <form role="form" method ="post" action="{{ path('login_check') }}">
                            <div class="form-group">
                                <input type="text" class="form-control" id="username" required ="required" name="_username" value="{{ last_username }}"  placeholder="Nombre de usuario" >
                            </div><!-- /form-group -->
                            <div class="form-group">
                                <input type="password" class="form-control" type="password" name="_password" id="password" placeholder="Contraseña" >
                            </div><!-- /form-group -->
                            <input type="hidden" name="_target_path" value="/admin" />
                            <div class="form-group">
                                <input type="submit" class="btn btn-lg btn-primary btn-block" value="Enviar" >
                            </div><!-- /form-group -->
                            <div class="form-group">
                                <input class="iCheck" id="remember_me" name="_remember_me" type="checkbox">
                                <label class="icheck-label" for="remember_me">Recuerdame</label>
                            </div><!-- /form-group -->
                        </form>
                    </div><!-- /sign-container -->
                </div><!-- /col -->
            </div><!-- /row -->

            <div class="sign-footer">
                <a href="#recover" data-toggle="transition-layout" class="btn btn-link text-inverse">Recuperar contraseña</a>
            </div><!-- /sign-footer -->
        </section><!-- /signin -->

        <section id="recover" class="sign-wrapper recover transition-layout">
            <div class="row">
                <div class="col-md-offset-4 col-sm-offset-0 col-xs-offset-0 col-md-4 col-sm-12 col-xs-12">
                    <div class="sign-brand">
                        <div class="sign-brand-logo">
                            <img src="{{ asset('Resources/AdminPanel/img/index_logo.gif') }}" alt="Ujaen"/>
                        </div>
                        <h1 class="sign-brand-name">Panel de Administración - Soporte Guías Docentes</h1>
                    </div><!-- /sign-brand -->
                    <div class="sign-container">
                        <form id="recover-form" role="form" method="POST" action="{{ path('guias_docentes_app_admin_panel_recover_pass')}}">
                            <div class="form-group">
                                <input type="email" class="form-control input-lg" name="recover-email" placeholder="Email" >
                                <small class="help-block text-inverse">Introduzca la dirección de correo sobre la que desea recuperar la contraseña</small>
                            </div><!-- /form-group -->
                            <div class="form-group">
                                <input type="submit" class="btn btn-lg btn-success btn-block" id="recover" value="Enviar" >
                            </div><!-- /form-group -->
                        </form>
                        <div id="success-recover" class="alert alert-success">
                            <a href="#"  class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>¡Usuario Recuperado!</strong> Revise su correo para encontrar la nueva contraseña
                         </div>
                    </div><!-- /sign-container -->
                </div><!-- /col -->
            </div><!-- /row -->

            <div class="sign-footer">
                <a href="#signin" data-toggle="transition-layout" class="btn btn-link text-inverse">Login</a>
            </div><!-- /sign-footer -->
        </section><!-- /recover -->
    </section><!-- /wrapper -->
{% endblock %}

{% block javascripts %}
{{ parent() }}
    <!-- other dependencies -->
    <script src="{{ asset('Resources/bootstrap/assets/jquery-icheck/jquery.icheck.min.js') }}"></script>

    <!-- theme app main.js -->
    <script src="{{ asset('Resources/bootstrap/assets/app/js/main.js') }}"></script>
    <script src="{{ asset('Resources/AdminPanel/js/login.js') }}"></script>

    <script type="text/javascript">
    $(function() {
        'use strict';

        $('.iCheck').iCheck({
            checkboxClass: 'icheckbox_flat',
            radioClass: 'iradio_flat',
        });
    })
    </script>  
{% endblock %}