{% extends 'AdminPanel/base-side-left-header-admin-panel.html.twig' %}
    {% block breadcrumb %}
        <ol class="breadcrumb bg-none pull-left hide-xs">
            <li><a href="{{ path ('guias_docentes_app_admin_panel_index') }}">Home</a></li>
            <li class="active">Gestionar Temáticas de Soporte</li>
        </ol>
    {% endblock %}
{% block content_body %}
{%if ok != 0 %}
    {%if ok==1 %}
        <div id="success-create-profile" class="alert alert-success">
            <a href="#"  class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Operación realizada correctamente</strong> 
         </div>
    {% else %}
        <div id="fail-create-profile" class="alert alert-danger">
            <a href="#"  class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>¡Error!</strong> No se ha podido realizar la acción, por favor pongase en contacto con el administrador de la aplicación.
        </div>
    {% endif %}
{% endif %}
    <div class="magic-layout">
        <div id="data" class="panel panel-default magic-element width-full">
            <div class="panel-heading">
                <div class="panel-icon"><i class="icon ion-ios7-photos-outline"></i></div>
                <div class="panel-actions">
                    <a role="button" data-refresh="#data" title="refresh" class="btn btn-sm btn-icon">
                        <i class="icon ion-refresh"></i>
                    </a>
                    <a role="button" data-expand="#data" title="expand" class="btn btn-sm btn-icon">
                        <i class="icon ion-arrow-resize"></i>
                    </a>
                    <a role="button" data-collapse="#data" title="collapse" class="btn btn-sm btn-icon">
                        <i class="icon ion-chevron-down"></i>
                    </a>
                    <a role="button" data-close="#data" title="close" class="btn btn-sm btn-icon">
                        <i class="icon ion-close-round"></i>
                    </a>
                </div><!-- /panel-actions -->
                <h3 class="panel-title">Temáticas de Soporte</h3>
            </div><!-- /panel-heading -->
            <div class="table-responsive">
                <table class="table table-hover datatables">
                    <thead>
                        <tr>
                            <th>Enunciado</th>
                            <th>Personal</th>
                            <th>Orden</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tematica_soporte in tematicas_soporte %}
                            <tr class="elemento" id="{{tematica_soporte.getId}}">
                                <td class="enunciado">{{tematica_soporte.getEnunciado}}</td>
                                <td class="personal">{{tematica_soporte.getPersonalEmail.getEmail}}</td>
                                <td class="orden">{{tematica_soporte.getOrden}}</td>
                                <td class="acciones">
                                    <button type="button" class="btn edit btn-icon">
                                        <i class="icon ion-compose"></i>
                                    </button>
                                    <button type="button" class="btn remove btn-icon">
                                        <i class="icon ion-close-round"></i>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div><!-- /panel7 -->
    </div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
        <script src=" {{ asset('Resources/bootstrap/assets/bootbox/bootbox.js') }}"></script>
    <script src=" {{ asset('Resources/bootstrap/assets/datatables/js/jquery.dataTables.min.js') }}"></script>
    <script src=" {{ asset('Resources/bootstrap/assets/datatables/js/datatables.js') }}"></script>
    <script src='{{ asset('Resources/AdminPanel/js/tematicaSoporte.js') }}'></script>
    
    {#<!-- Tables editable -->#}
    {#<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">#}
    {#<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>#}
    {#<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>#}
{% endblock %}