{% extends 'layout.html.twig' %}
{% block meta %}
		<meta name=viewport content="width=device-width, initial-scale=1">
{% endblock %}
{% block stylesheets %}
        <!-- Estilos generales FAQ (sabor y layout) -->
        <link href=" {{ asset('Resources/FAQ/css/general/general-sb.css') }}" rel="stylesheet" />
        <link href=" {{ asset('Resources/FAQ/css/general/general-ly.css') }}" rel="stylesheet" />
{% endblock %}
{% block body %}
    <div id="wrapper">
        {% block header %}
            <div id="header">
              <ul class="langNav">
                <li id="spanish">Espa&ntilde;ol</li>
              </ul>
              <h1 class="header-logouniv">
                  <a href="http://www.ujaen.es/" accesskey="h">
                      <span>Universidad de Jaén</span>
                  </a>
              </h1>
              <img class="banner-calidad" src="{{asset('Resources/FAQ/img/banner_superior.png')}}" alt="Universidad de Jaén" >
              <ul class="mainNav">
			     <li><a href="http://www.ujaen.es" class="active"><span id="pageHome">&nbsp;</span></a></li>
		        {% block barraNavegacion %}
				{% endblock %}
			</ul>
            </div>
        {% endblock %}
          <div id="content" role="main">
            <div id="content-header" >
                <div id="main">
              		<div id="main-inner">
                		<div class="breadcrumb"> 
                    		{% block breadcrumb %}
                    		{% endblock %}
                		</div>
                    </div>
                    {% block content_title %}
                    {% endblock %}
               </div>
            </div>
    {% block content %}
    {% endblock %}
    </div>
        {% block footer %}
          <div id="footer">
          	<div id="footer-inner">
          	    <div id="footer-logo"><img src="{{ asset('Resources/FAQ/img/logofooter.png') }}" alt="Universidad de Jaén"></div>
            	<div id="footer-message"> Universidad de Ja&eacute;n </div>
            </div>
          </div>
        {% endblock %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}